<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"> {{title}} </h1>
      <p>Îți livrăm când jobul s-a mutat acasă sau când ai poftă să mănânci ceva bun.</p>
  
   
  
       <strong> Comandă-ți produsele preferate prin ComandaMancare.ro,  accesează de mai jos pagina partenerului prin care vrei să plasezi
          comandă</strong>
          <p> În perioada asta relația noastră poate fi supusă unor teste și sperăm să le trecem întotdeauna cu bine. Pentru că suntem între prieteni, o să fim sinceri cu tine 
            – există o șansă să întârziem livrarea comenzilor. Ne străduim întotdeauna să-ți aducem produsele  la ușa ta cât de repede putem. Totuși, din cauza contextului 
            în care ne aflăm, în anumite momente există posibilitatea ca restaurantul să fie temporar indisponibil sau să avem foarte multe comenzi în curs, iar aria pe care o acoperim cu livrări și meniul disponibil pot fi mai restranse decât de obicei. </p>
    </div>
  </div>
  
    <div class="container"> 
  
        <h1>Migrează in:</h1>
  
        <form action="https://localhost:44315/products">
          <button type="button" class="btn btn-warning">ComandaMancare.ro</button>
        </form>
  
  
        <br>
  
        <img  [src] = "myimage">
  
        <br> <br> <br> 
  
  
  </div>
  
   
    
  