.jumbotron{
    text-align: center;
    padding:15%;
    background-image: url('https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX30190272.jpg');
    background-attachment: fixed;
    color:white;
    text-shadow: 1px 1px 2px;
    font-size: auto;
    
  

}

.jumbotron .text {
    color:black;
    background-color:rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;    
    
    
}

h1 {
    font-size:100px;
    text-shadow: 2px 2px 3px;
   
    
}

.container {
    text-align:center;
    margin-top: 15%;
}


@media screen and (max-width: 1210px) {

    .container {
      
        margin-top: 10%;
    }

}

@media screen and (max-width: 1210px) {

    .container {
      
        margin-top: 30%;
    }


}

@media screen and (max-width: 800px) {

        .jumbotron {
            text-align:center;
            margin-bottom: 0px;
            min-height: 100vh;
           
            background-size: cover;
            background-attachment: fixed;
        
            
        }

        h1 {
            font-size: 50px;
        }
    }


@media screen and (max-width: 600px) {

    .container h1{
       font-size:70px;
       
    }

    .container {
        margin-top: 50%;
    }

    

}


@media screen and (max-width: 500px) {


    .container {
        margin-top: 70%;
    }

    .container h1 {
        font-size: 30px;
    }


}


@media screen and (max-width: 400px) {

    .jumbotron{
        min-height: 50vh;
    }

    .container {
        margin-top: 20%;
    }

    

}


@media screen and (max-width: 237px) {

    .container h1{
        font-size:20px;
    } 


}