.container{
    min-height: 100vh;
    }

h1{
    font-size: 35px;
}

p{
    font-size: 16px;
}







@media only screen and (max-width: 350px){
    h1 {
        font-size: 20px;
    }

    p{
        font-size: 12px;
    }
}