<app-banner-about></app-banner-about>

<div class = "container" > 

    <div class = "content"> 
        <h1>McDonald’s la nivel global</h1>
        <p>McDonald’s este cel mai mare lanț de restaurante cu servire rapidă din lume, cu peste 32.000 de restaurante care servesc zilnic peste 60 de milioane de oameni în 117 țări.</p>
    </div>


    <!--this is a test-->
    <div class = "content"> 
        <h1>Misiunea McDonald’s</h1>
        <p>Misiunea noastră, la McDonald’s, este să fim mereu restaurantul preferat al clienților noștri și să îi întâmpinăm cu produse proaspete, pregătite la fiecare comandă din ingrediente de cea mai bună calitate.

        </p>
    </div>

    <div class = "content"> 
        <h1>McDonald’s este</h1>
        <p>Cel mai de succes brand al tuturor timpurilor – distincție primită la Cannes, iunie 2011</p>
        <p> Al patrulea cel mai mare brand din lume în valoare, conform Millward Brown, 2012 </p>
        <p> Cea mai bine condusă afacere din lume, conform revistei Fortune, 2011 </p>
        <p> Cel mai mare prim angajator din lume: în SUA, 1 din 8 persoane alege ca primul loc de muncă să fie la McDonald’s. </p>
    </div>

    <div class = "content"> 
        <h1>McDonald’s în România</h1>
        <p>Primul restaurant McDonald’s din România s-a deschis în 1995, la Piața Unirii din București. Începând cu anul 2016, McDonald’s este parte a familiei Premier Capital, operatorul restaurantelor 
            McDonald’s din Estonia, Letonia, Lituania, Grecia, Malta și România. Premier Capital operează 160 de 
            restaurante în 6 țări și are peste 8.800 de angajați. În România, McDonald’s este liderul pieței de
             restaurante cu servire rapidă, cu 87 de restaurante în 27 de orașe și 43 de McCafé. Până în prezent,
              McDonald’s a investit peste 800 de milioane de lei în România, are o echipă de peste 5.000 de angajați 
              și servește zilnic peste 200.000 clienți. La nivel național, McDonald’s este unul dintre cei mai mari 
              angajatori. În 2018 a fost desemnat cel mai bun angajator pentru al cincilea an consecutiv, conform AON 
              România.</p>
    </div>

    <div class = "content"> 
        <h1>Digitalizare și inovație </h1>
        <p>McDonald’s înseamnă: inovație, calitate, responsabilitate față de clienți și angajați.</p>
        <p> Inovăm constant în restaurante, prin introducerea unor instrumente care simplifică interacțiunea clienților în restaurantele noastre sau prin oferirea produselor preferate în confortul casei lor, prin McDelivery. </p>  
        <p> Experience of the Future este un concept care a schimbat restaurantele McDonald's din întreaga lume. Le oferim oaspeților noi opțiuni, mai confortabile, mai la îndemână, pe scurt, o nouă experiență. Aceștia pot să comande ușor și în siguranță produsele preferate la kioks-urile de comandă, pot plăti contactless sau pot opta pentru servire la masă. </p> 
        <p>  Am implementat deja Experience of the Future în 41 de restaurante din întreaga țară și continuăm să investim în remodelarea și digitalizarea celorlalte restaurante.</p> 
    </div>

</div>