
<header>
  <nav class="navbar navbar-expand-md fixed-top navbar-dark " style="background-color: #212121;">
    <a class="navbar-brand" routerLink="/">
      <img src="/assets/images/McDonalds.png"  width="40" height="30" alt="">
      <span class="mr-1" style="color:white">McDonald's Restaurant</span>
      
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item active">
          <a class="nav-link" routerLink = "">
          <i class="fas fa-home mr-1"></i>Acasă
          </a>

        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/about">
            <i class="far fa-question-circle mr-1"></i>Despre
          </a>

        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/contact">
            <i class="fas fa-envelope mr-1"></i>Contact
          </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" routerLink="/delivery-page">
            <i class="fas fa-rocket"></i> Livrare
          </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" routerLink="/careers">
            <i class="fas fa-user-plus"></i> Cariere
          </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" routerLink="/employees-list">
            <i class="fas fa-users"></i> Echipa noastră
          </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" routerLink="/menu">
            <i class="fas fa-hamburger"></i> Meniuri
          </a>
        </li>

        
        


      </ul>
    </div>
  </nav>
 
</header>


<br> <br> 
  
  
  
    <main>
      <router-outlet></router-outlet>
    </main>
  
    
    

    <footer class="bg-dark  text-center text-lg-start">
   
   
      <!-- Copyright -->

      <div class=" text-center p-3">
        © 2021 Copyright:
        <a class="text-light" href="www.linkedin.com/marianiulian06">Marian Miloiu</a>
      </div>
      
      <!-- Copyright -->
    </footer>




  




