<br> <br> 
<div class="container"> 
<div class = "row text-center"> 
      <div class="card-body">
     
        <h1>{{titleMcDelivery}}</h1>
        <h6> {{description_titleMcDelivery}} </h6>
        <br>
        <h4>Comanda acum prin: 🛒 </h4> 
        <form action="https://localhost:44315/products">
            <button type="button" class="btn btn-dark">ComandaMancare.ro 😀</button>
          </form>


    </div>

    <div class="card-body">
      <h1> {{titleInstallApp}} </h1> 
      <h6>{{description_titleInstallApp}}</h6>
      <h4>Descarcă acum: 🔽 </h4>
       
      <form action="https://play.google.com/store/apps/details">
       <input class="btn btn-dark" type="submit" value="MagazinPlay" />
       </form>
<br>
       <form action="https://apps.apple.com/ro/app/mcdonalds/id1217507712">
         <input class="btn btn-dark" type="submit" value="AppStore" />
         </form>
     

 
    </div>
</div>

    <!---->

    
  

    <br> <br> 
    <div class="containter">
      <br> <br>
      <h4>Oferta Saptamanii:</h4>
      <img [src] = "myimage">
    </div>
    <br> <br>
     
  </div>






