.jumbotron{
    text-align: center;
    padding:10%;
    background-image: url('https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX30190272.jpg');
   
    background-attachment: fixed;
    color:white;
    text-shadow: 1px 1px 2px;
    font-size: auto;
    
  

}

.jumbotron .text {
    color:black;
    background-color:rgba(255, 255, 255, 1);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;    
    
}




@media screen and (max-width: 800px) {

     h1 {
        font-size: 30px;
    }

    p {
        font-size: 15px;
    }

}

@media screen and (max-width: 500px) {

    h1 {
       font-size: 20px;
   }

   p,button{
       font-size: 10px;
   }

   


}