<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class = "text"> 
            <h1> Produse preparate așa cum îți place </h1>
            <p>Când ți-e poftă de ceva bun, dă un scroll să vezi ce-ți face cu ochiul și 
                comandă la pachet sau prin McDelivery™, să te bucuri de ele!</p>
        </div>        
        <form routerLinkActive = "/menu" >
          <button type="submit" class="btn btn-light"> 🍔 DESCOPERĂ PRODUSELE </button>
         </form> 
    </div>
  </div>




